@inject UserManager<Employee> UserManager
@using Microsoft.AspNetCore.Identity
@model SellerIndexModel

@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}
<h2>Продавец</h2>

<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group ">
                <li class="list-group-item">
                    <h6>ФИО : @Model.Employee.NameSurname </h6>
                    <h6>Email : @Model.Employee.Email</h6>
                    <h6>Логин : @Model.Employee.UserName</h6>
                </li>
                <li class="list-group-item">
                    <a data-target="editProfileModal" id="@Url.Action("GetEditModalAjax", "Employees")" class="getModal dropdown-item cursor-p">
                        Редактировать профиль
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-target="changePasswordModal" id="@Url.Action("GetChangePasswordModalAjax", "Employees")" class="getModal dropdown-item cursor-p">
                        Изменить пароль
                    </a>
                </li>
              
            </ul>
        </div>
        <div class="col-sm-8">
            <h3> Филиалы</h3>
            @foreach (var branch in @Model.Branches)
            {
                <p>Центр йоги @branch.Name</p> 
                <a asp-action="Index" asp-controller="Schedule" asp-route-branchId="@branch.Id">Календарь</a>
                <a asp-action="CreateClients" asp-controller="Clients" asp-route-branchId="@branch.Id" >Добавить пробника</a> 
                <a asp-action="Trials" asp-controller="Clients" asp-route-branchId="@branch.Id">Пробники</a>
            }
        </div>
    </div>
  

</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("../Employees/PartialViews/GetModalScripts");
    }
}