@inject UserManager<Employee> UserManager
@using Microsoft.AspNetCore.Identity
@model SellerIndexModel

@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}
<div class="container">

    @{
        await Html.RenderPartialAsync("PartialView/WebsiteBar");
    }

    <h2 class="ml-4 mb-3">Продавец</h2>

    <div class="container marginFromInput">
        <div class="card" style="width: 800px;">
            <div class="row no-gutters">
                <div class="col-md-6 border-right">
                    <div class="card-body">
                        <h5 class="card-title">Подробно</h5>
                        <ul class="list-group list-group-flush">
                            <li id="username" class="list-group-item">Логин - @Model.Employee.UserName</li>
                            <li id="email" class="list-group-item">Почта - @Model.Employee.Email</li>
                            <li id="nameSurname" class="list-group-item">Имя фамилия - @Model.Employee.NameSurname</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 border-right">
                    <div class="card-body">
                        <h5 class="card-title text-center border-bottom" style="padding-bottom:13px;">
                            Филиалы
                        </h5>
                        @foreach (var branch in @Model.Branches)
                        {
                            <p>Центр йоги : <b>@branch.Name</b></p>
                            <a asp-action="SchedulePage" asp-controller="Seller" asp-route-branchId="@branch.Id">Календарь</a>
                            <a asp-action="Trials" asp-controller="Clients" asp-route-branchId="@branch.Id">Пробники</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("../Employees/PartialViews/GetModalScripts");
    }
}