@using System.Net
@model System.Collections.Generic.List<yogaAshram.Models.TrialUsers>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Пробники</h2>
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Дата: </label>
        <input name="time"  type="date" class="form-control" />
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table " id="customers">
    <tr>
        <th>Клиент</th>
        <th>Группа</th>
        <th>Дата урока</th>
        <th>Состояние</th>
         <th></th>
        <th>Коментарии</th>
        
    </tr>
    @foreach (var client in @Model)
    { <tr>
          <td>@client.Client.NameSurname</td>
          <td>@client.Group.Name</td>
          <td>@client.LessonTime.ToShortDateString()</td>
          <td style="background: @client.Color">@client.GetValueOfState()</td>
          @if (User.IsInRole("admin,chief,manager"))
          {
                <td><a asp-action="CheckAttendanceTrial" asp-route-groupId="@client.GroupId"  asp-route-clientId="@client.ClientId">Отметить</a></td>
          }
        
          <td>@client.Client.Comment</td>
      </tr>
        
    }
</table>

@section Scripts
 {
     <script>
     
     </script>
 }
