@using System.Net
@using State = yogaAshram.Models.State
@model System.Collections.Generic.List<yogaAshram.Models.TrialUsers>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Пробники </h2>
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Дата: </label>
        <input type="date" id="start"  name="time">
      
        <input name="branchId"  type="hidden" value="@ViewBag.BranchId" /> 
        
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table " id="customers">
    <tr>
        <th>Клиент</th>
        <th>Группа</th>
        <th>Дата урока</th>
        <th>Состояние</th>
        <th>Посетил  уроков</th>
         @if (User.IsInRole("admin"))
         {
             <th>Отметить</th>
         }
         <th>Коментарии</th>
       
        
    </tr>
    @foreach (var client in @Model)
    { <tr>
          <td><a asp-action="ClientInfo" asp-controller="Clients" asp-route-Id="@client.ClientId">@client.Client.NameSurname</a></td>
          <td>@client.Group.Name</td>
          <td>@client.LessonTime.ToShortDateString()</td>
          <td style="background: @client.Color">@client.GetValueOfState()</td>
           <td style="background: @client.Color">@client.FreeLessons</td>
          @if (User.IsInRole("admin"))
          {
              @if(@client.IsChecked==false || @client.State==State.willAttend)
              {<td>
                                 <a asp-action="CheckAttendanceTrial" asp-route-groupId="@client.GroupId" asp-route-clientId="@client.Id" asp-route-branchId="@client.Group.Branch.Id">Отметить</a>
                             </td>
                  
              }
              else
              {
                  <td>Отмечено</td>
              }
                  
              
          }
        
          <td>

              @if (@client.SellerComments != null)
              {
                  @foreach (string comment in @client.SellerComments)
                  {
                      <p class="small">@comment</p>
                  }
              }
                    
          </td>
      </tr>
        
    }
</table>


