@inject UserManager<Employee> UserManager
@using Microsoft.AspNetCore.Identity
@model ManagerIndexModelView
@{
    ViewBag.Title = "Страница старший менеджера";
    Layout = "_Layout";
}
<h2>Старший менеджер</h2>

<div class="row">
    <div class="col-6">
        <h6>ФИО : @Model.Employee.NameSurname </h6>
        <h6>Email : @Model.Employee.Email</h6>
        <h6>Логин : @Model.Employee.UserName</h6>
    </div>

    <div class="col-6">
        <a class="btn btn-primary" asp-action="EditManager" asp-controller="Manager">Редактировать</a>
        <a asp-action="CreateEmployee" asp-controller="Manager" class="btn btn-dark">Создать пользователя</a>
        <div id="changePasswordBtn" class="dropdown-item cursor-p">Изменить пароль</div>
    </div>
    <div class="form-row mt-3">
        @{
            await Html.RenderPartialAsync("PartialViews/PasswordChangePartial", Model.Model);
        }
    </div>
</div>

<div id="modal-place"></div>
@section Scripts{
    @if (Model.IsModalInvalid)
    {
        <script>
            $('#changePasswordModal').modal('show');
        </script>
    }
    @if (Model.IsEditInvalid)
    {
        <script>
            $('#editPrifilePartial').modal('show');
        </script>
    }
    <script>
        $("#editProfileBtn").on('click', function () {
            if (document.getElementById('editPrifileModal')) {
                $('#editPrifileModal').modal('show');
            }
            else {
                $.get('@Url.Action("GetEditModalAjax", "Chief")', function (data) {
                    $("#modal-place").html(data);
                    $(document.getElementById('editPrifileModal')).modal('show');
                });
            }
        })
    </script>
    <script>
        $("#changePasswordBtn").on("click", function () {
            $("#changePasswordModal").modal('show');
        })
        function checkRequired(text) {
            if (text.length == 0) {
                return false;
            }
            return true;
        };
        $('#emplCreateBtn').on('click', function () {
            $('#emplCreateModal').modal('show');
            $('#submitCreateEmpl').on('click', function () {
                var email = $('#emplEmail');
                var truth = true;
                if (!checkRequired(email.val())) {
                    $('#invalidEmail').html('Введите почту');
                    truth = false;
                }
                else {
                    $.get('@Url.Action("CheckEmailCreate", "Validation")/?email=' + $(email).val(), function (data) {
                        if (data) {
                            $('#invalidEmail').html('');
                        }
                        else {
                            $('#invalidEmail').html('Такая почта уже существует');
                        truth = false;
                        }
                    });

                }

                var userName = $('#emplUserName');
                if (!checkRequired($(userName).val())) {
                    $('#invalidLogin').html('Введите логин');
                    truth = false;
                }
                else {
                    $.get('@Url.Action("CheckUserNameCreate", "Validation")/?userName=' + $(userName).val(), function (data) {
                        if (data) {
                            $('#invalidLogin').html('');
                        }
                        else {
                            $('#invalidLogin').html('Такой логин уже существует');
                            truth = false;
                        }
                    });
                }

                var nameSurname = $('#emplNameSurname');
                if (!checkRequired($(nameSurname).val())) {
                    $('#invalidNameSurname').html('Введите имя и фамилию');
                    truth = false;
                }
                else {
                    $('#invalidNameSurname').html('');
                }
                var role = $('#roleSelect');
                if ($(role).val() == '...') {
                    $('#invalidRole').html('Выберите роль');
                    truth = false;
                }
                else {
                    $.get('@Url.Action("CheckRoleExistence", "Validation")/?role=' + $(role).val(), function (data) {
                        if (data) {
                            $('#invalidRole').html('');
                        }
                        else {
                            $('#invalidRole').html('Выберите роль');
                    truth = false;
                        }
                    });

                }

                if (truth) {
                    $.ajax({
                        url: '@Url.Action("CreateEmployee", "Chief")',
                        type: 'POST',
                        data: {
                            "nameSurname": $(nameSurname).val(),
                            "userName": $(userName).val(),
                            "email": $(email).val(),
                            "role": $(role).val()
                        },
                        success: function (data){
                            if (data != 'true') {
                                $('#invalidConfirmPassword').html(data);
                            }
                            else {
                                console.log(data);
                                $('#emplCreateModal').modal('hide');
                                email.val('');
                                userName.val('');
                                nameSurname.val('');
                                role.val('...');
                                $('#exellent-modal').modal('show');
                            }
                        }
                    })
                }
            })
        });
    </script>
}