@model List<ClientTableViewModel>
<div class="container">
<h1 class="mt-5 mb-5" style="text-align: center">Таблица информации о клиентах</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col"><a asp-action="ClientTableMembership" asp-controller="Clients" asp-route-sortOrder="@ViewBag.NameSort">ФИО</a></th>
        <th scope="col">Email</th>
        <th scope="col">Номер телефона</th>
        <th scope="col">Центр</th>
        <th scope="col"><a asp-action="ClientTableMembership" asp-controller="Clients" asp-route-sortOrder="@ViewBag.GroupSort">Группа</a></th>
        <th scope="col">Инструктор</th>
        <th scope="col">Категория</th>
        <th scope="col">Комментарии</th>
        <th scope="col" ><a asp-action="ClientTableMembership" asp-controller="Clients" asp-route-sortOrder="@ViewBag.BranchSort">Абонемент</a></th>
        <th scope="col" ><a asp-action="ClientTableMembership" asp-controller="Clients" asp-route-sortOrder="@ViewBag.AttendingTimesSort">Осталось посещений</a></th>
        <th scope="col" ><a asp-action="ClientTableMembership" asp-controller="Clients" asp-route-sortOrder="@ViewBag.AbsenceTimesSort">Пропуски</a></th>
        <th scope="col" ><a asp-action="ClientTableMembership" asp-controller="Clients" asp-route-sortOrder="@ViewBag.ForzenTimesSort" >Осталось заморозок</a></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var clients in Model)
    {
        <tr>
            <td>@clients.Client.NameSurname</td>
            <td>@clients.Client.Email</td>
            <td>@clients.Client.PhoneNumber</td>
            <td>@clients.Client.Group.Branch.Name</td>
            <td>@clients.Client.Group.Name</td>
            <td>@clients.Client.Group.Coach.NameSurname</td>
            <td>@clients.Client.Membership.Category.Name</td>
            @if (@clients.Client.Comments != null)
            {
                @foreach (var comment in @clients.Client.Comments)
                {
                    <td>@comment</td>
                }
            }
            else
            {
                <td>Комментариев нет</td>
            }
            <td>@clients.Client.Membership.Name</td>
            <td>@clients.Attendance.AttendanceCount.AttendingTimes</td>
            <td>@clients.Attendance.AttendanceCount.AbsenceTimes</td>
            <td>@clients.Attendance.AttendanceCount.FrozenTimes</td>
        </tr>
    }
    </tbody>
</table>
</div>