@model List<Employee>

<div class="container mt-1">
    @if (@ViewBag.Error == null)
    {
        @foreach (var employee in @Model)
            {
                <p class="text-center">@employee.UserName 
    <a asp-action="DeleteEmployee" asp-controller="Chief" asp-route-emplId="@employee.Id">
                    Удалить
                    </a>
                    <a asp-action="EditEmployee" asp-controller="Chief" asp-route-emplId="@employee.Id">Изменить</a></p>
            }
    }
    else
    {
       <p class="text-center text-danger">@ViewBag.Error</p> 
    }
    
</div>
