@model PaymentEditModelView
<!-- Modal -->
<div class="modal fade" id="paymentEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактировать платеж</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Выберите тип абонемента<span class="text-danger">*</span></label>
                    <select asp-for="MembershipId" class="form-control" id="membershipEditSelect">
                        <option>...</option>
                        @foreach (var item in ViewBag.Memberships)
                        {
                            <option id="editMembership-@item.Id" price="@item.Price" value="@item.Id">
                                @item.Category.Name @item.Price тг. @item.AttendanceDays посещений
                            </option>
                        }
                    </select>
                    <p id="invalidMembersipEdit" class="text-danger"></p>
                </div>
                <div class="form-group">
                    <label>Выберите тип оплаты<span class="text-danger">*</span></label>
                    <select class="form-control" id="paymentTypeSelect">
                        <option>...</option>
                        <option value="@PaymentType.Cash">
                            Нал
                        </option>
                        <option value="@PaymentType.Card">
                            Безна
                        </option>
                    </select>
                    <p id="invalidPaymentType" class="text-danger"></p>
                </div>
                <div class="form-group">
                    <label>Добавьте комментарий</label>
                    <input asp-for="Comment" id="commentPaymentEdit" type="text" class="form-control">
                    <p id="invalidCommentEdit" class="text-danger"></p>
                </div>
                <div class="form-group">
                    <label>Задолженность клиента (если присутствует)</label>
                    <input value="@Model.Debts" id="paymentsDebtsEdit" type="number" class="form-control">
                    <p id="invalidDebtsEdit" class="text-danger"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button id="submitPaymentEdit" type="button" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>
<script>
    function checkRequired(data) {
        if (data.length == 0) {
            return true;
        }
        return false;
    }
    $('#submitPaymentEdit').on('click', function () {
        var membershipId = $('#membershipEditSelect').val();
        var truth = true;
        if (membershipId == '...') {
            $('#invalidMembersipEdit').html('Выберите тип абонемента');
            truth = false;
        }
        else {
            $('#invalidMembersipEdit').html('');
        }
        var paymentType = $('#paymentTypeSelect').val();
        if (paymentType == '...') {
            $('#invalidPaymentType').html('Выберите тип оплаты');
            truth = false;
        }
        else {
             $('#invalidPaymentType').html('');
        }
        var debts = $('#paymentDebtsEdit').val();
        if (debts > $('#editMembership-' + membershipId).attr('price')) {
            $('#invalidDebtsEdit').html('Сумма долгов не должна превышать стоимости абонемента');
        }
        else if (truth) {
            $('#invalidDebtsEdit').html('');
            $.ajax({
                url: '@Url.Action("CreateAjax", "Payments")',
                type: "POST",
                datatype: "json",
                data: {
                    "Comment": $("#commentPaymentEdit").val(),
                    "MembershipId": membershipId,
                    "PaymentId": @Model.PaymentId,
                    "Type": paymentType,
                    "Debts": $('#paymentsDebtsEdit').val()
                },
                success: function (data) {
                    if (data) {
                        document.location.reload();
                    }
                }
            })
        }
    })
</script>
