<!DOCTYPE html>
<html lang="en">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - yogaAshram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/cleanslate.css">
    <link rel="stylesheet" href="~/css/jquery.weekLine.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css">

<header>

 <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark"   style="background-color: #0c5a4a;">
      
            <a class="navbar-brand" asp-area="" asp-controller="" asp-action="">Classical Yoga</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @if (User.IsInRole("chief"))
            {
                <input id="search" type="search" class="search-input search-form" placeholder="Поиск сотрудников" name="search" autocomplete="off">
                <div class="popup-overlay" id="myModal">
                    <div class="popup-content">
                        <div class="scrollbar-3" id="style-4">
                            <div class="force-overflow-2">
                                <div id="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (User.IsInRole("manager"))
            {
                <input id="search" type="search" class="search-input search-form" placeholder="Поиск сотрудников" name="search" autocomplete="off">
                <div class="popup-overlay" id="myModal">
                    <div class="popup-content">
                        <div class="scrollbar-3" id="style-4">
                            <div class="force-overflow-2">
                                <div id="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                <ul class="navbar-nav ml-auto">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Войти</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("chief"))
                        {
                            <div class="btn-group top-right-buttons">
                                <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <span class="text-white">@User.Identity.Name</span> 
                                </button>
                                <div class="dropdown-menu">
                                    <li class="dropdown-item cursor-p">
                                        <a class="text-decoration-none text-dark" asp-controller="Chief" asp-action="Index">
                                            Мои кабинет
                                        </a>
                                    </li>
                                    <li class="dropdown-item cursor-p">
                                        <form method="post" asp-controller="Account" asp-action="Logout" id="my_form">
                                            <a class="text-decoration-none text-dark" href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">
                                                Выход
                                            </a>
                                        </form>
                                    </li>
                                </div>
                            </div>
                        }
                        else if (User.IsInRole("manager"))
                        {
                            <div class="btn-group top-right-buttons">
                                <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="text-white">@User.Identity.Name</span> 
                                </button>
                                <div class="dropdown-menu">
                                    <li class="dropdown-item cursor-p">
                                        <a class="text-decoration-none text-dark" asp-controller="Manager" asp-action="Index">
                                            Мои кабинет
                                        </a>
                                    </li>
                                    <div data-target="editProfileModal" id="@Url.Action("GetEditModalAjax", "Employees")"
                                         class="getModal dropdown-item cursor-p">
                                        Редактировать профиль
                                    </div>
                                    <div data-target="changePasswordModal" id="@Url.Action("GetChangePasswordModalAjax", "Employees")"
                                         class="getModal dropdown-item cursor-p">
                                        Изменить пароль
                                    </div>
                                    <li class="dropdown-item cursor-p">
                                        <form method="post" asp-controller="Account" asp-action="Logout" id="my_form">
                                            <a class="text-decoration-none text-dark" href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">
                                                Выход
                                            </a>
                                        </form>
                                    </li>
                                </div>
                            </div>
                        }
                        else if (User.IsInRole("admin"))
                        {   <p id="notify" class="notify-box"></p>
                            <div class="btn-group top-right-buttons">
                                <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="text-white">@User.Identity.Name</span> 
                                </button>
                                <div class="dropdown-menu">
                                    <li class="dropdown-item cursor-p">
                                        <a class="text-decoration-none text-dark" asp-controller="Admin" asp-action="Index">
                                            Мои кабинет
                                        </a>
                                    </li>
                                    <div data-target="editProfileModal" id="@Url.Action("GetEditModalAjax", "Employees")"
                                         class="getModal dropdown-item cursor-p">
                                        Редактировать профиль
                                    </div>
                                    <div data-target="changePasswordModal" id="@Url.Action("GetChangePasswordModalAjax", "Employees")"
                                         class="getModal dropdown-item cursor-p">
                                        Изменить пароль
                                    </div>
                                    <li class="dropdown-item cursor-p">
                                        <form method="post" asp-controller="Account" asp-action="Logout" id="my_form">
                                            <a class="text-decoration-none text-dark" href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">
                                                Выход
                                            </a>
                                        </form>
                                    </li>
                                </div>
                            </div>
                        }
                        else if (User.IsInRole("seller"))
                        {
                            <div class="btn-group top-right-buttons">
                                <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="text-white">@User.Identity.Name</span> 
                                </button>
                                <div class="dropdown-menu">
                                    <li class="dropdown-item cursor-p">
                                        <a class="text-decoration-none text-dark" asp-controller="Seller" asp-action="Index">
                                            Мои кабинет
                                        </a>
                                    </li>
                                    <li class="dropdown-item cursor-p">
                                        <form method="post" asp-controller="Account" asp-action="Logout" id="my_form">
                                            <a class="text-decoration-none text-dark" href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">
                                                Выход
                                            </a>
                                        </form>
                                    </li>
                                </div>
                            </div>
                        }
                    }

                </ul>

            </div>
        
    </nav>
</header>
@if (User.Identity.IsAuthenticated)
{
    <!-- Bootstrap row -->
    <div class="row" id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
            <!-- Bootstrap List Group -->
            <ul class="list-group">
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>Меню</small>
                </li>
                <!-- /END Separator -->
                <!-- Menu with submenu -->
                 <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-start align-items-center">
                                        <span class="fa fa-user fa-fw mr-3"></span>
                                        <span class="menu-collapsed">Профиль</span>
                                        <span class="submenu-icon ml-auto"></span>
                                    </div>
                                </a>
                                <!-- Submenu content -->
                                <div id='submenu2' class="collapse sidebar-submenu">
                                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                                        <div data-target="editProfileModal" id="@Url.Action("GetEditModalAjax", "Employees")"
                                             class="getModal">
                                            Редактировать профиль
                                        </div>
                                        
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                                        <div data-target="changePasswordModal" id="@Url.Action("GetChangePasswordModalAjax", "Employees")"
                                             class="getModal">
                                            Изменить пароль
                                        </div>
                                        
                                    </a>
                                </div>
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-users fa-fw mr-3"></span>
                        <span class="menu-collapsed">Сотрудники</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <!-- Submenu content -->
                <div id='submenu1' class="collapse sidebar-submenu">
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Список сотрудников</span>
                    </a>
                    <a class=" list-group-item list-group-item-action bg-dark text-white getModal" data-target="emplCreateModal" id="/employees/getcreateemplmodalajax" type="button">Добавить работника</a>
                </div>
               
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-tasks fa-fw mr-3"></span>
                        <span class="menu-collapsed">Tasks</span>
                    </div>
                </a>
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>OPTIONS</small>
                </li>
                <!-- /END Separator -->
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-calendar fa-fw mr-3"></span>
                        <span class="menu-collapsed">Calendar</span>
                    </div>
                </a>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-envelope-o fa-fw mr-3"></span>
                        <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                    </div>
                </a>
                <!-- Separator without title -->
                <li class="list-group-item sidebar-separator menu-collapsed"></li>
                <!-- /END Separator -->
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-question fa-fw mr-3"></span>
                        <span class="menu-collapsed">Help</span>
                    </div>
                </a>
                <a href="#" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                        <span id="collapse-text" class="menu-collapsed">Collapse</span>
                    </div>
                </a>
               
               
            </ul><!-- List Group END-->
        </div><!-- sidebar-container END -->
        
        <!-- MAIN -->
        <div class="col">
            
  <breadcrumb></breadcrumb>  
            <div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

        </div><!-- Main Col END -->
    </div>
}
else
{
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
}

<div class="modal" tabindex="-1" role="dialog" id="form-modal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>



<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - yogaAshram
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery.weekLine.min.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/lib/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js"></script>
  <script src="https://kit.fontawesome.com/04079ffe72.js" crossorigin="anonymous"></script> 

<script>
$('#body-row .collapse').collapse('hide'); 

// Collapse/Expand icon
$('#collapse-icon').addClass('fa-angle-double-left'); 

// Collapse click
$('[data-toggle=sidebar-colapse]').click(function() {
    SidebarCollapse();
});

function SidebarCollapse () {
    $('.menu-collapsed').toggleClass('d-none');
    $('.sidebar-submenu').toggleClass('d-none');
    $('.submenu-icon').toggleClass('d-none');
    $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');
    
    // Treating d-flex/d-none on separators with title
    var SeparatorTitle = $('.sidebar-separator-title');
    if ( SeparatorTitle.hasClass('d-flex') ) {
        SeparatorTitle.removeClass('d-flex');
    } else {
        SeparatorTitle.addClass('d-flex');
    }
    
    // Collapse/Expand icon
    $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
}
</script>
<script> 


  
    $(document).ready(function() {
             $("#search").keyup(function(event) {
               search(event);
               $(".popup-overlay, .popup-content").addClass("active");
             });
             });
          function search(event) {
                event.preventDefault();
                var searchKey = $("#search").val();
                searchKey = encodeURIComponent(searchKey);
                var result = $.ajax({
                type: "GET",
                url: '@Url.Action("Search", "Employees")?search=' + searchKey,
                async: false        
                }).responseText;                           
                     $("#result").html(result);                       
              }
         $('body').click(function (event) 
         {
            if(!$(event.target).closest('#myModal').length && !$(event.target).is('#myModal')) {
               $(".popup-overlay, .popup-content").removeClass("active");
            }     
         });                     
</script>
<script>
var now = new Date();
var millisTill10 = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 9, 27, 0, 0) - now;
if (millisTill10 < 0) {
    millisTill10 += 86400000;
}
setTimeout(function(){
    $.ajax({
        type: 'GET',
        url: ('@Url.Action("GetGroupsLink", "Clients")'),
        success: function (res) {
            if(res===true)
                $('#notify').html('<i class="far fa-bell"></i> У вас есть неотмеченные клиенты').show().delay(3000).fadeOut();
            else
                $('#notify').html('Все клиенты отмечены').show().delay(3000).fadeOut();
        }
    })
}, millisTill10);

</script>
@RenderSection("Scripts", required: false)

</html>















