@using System.Collections
@using yogaAshram.Services
@model List<List<Attendance>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}





<p> История посещения  </p>

<table class="table-striped small">
                              
                              
                                  <tr>
                                      <th>
                                          ФИО клиента
                                      </th>
                                      <th>
                                          Дата абонемента
                                      </th>
                              
                                      @for (int i=1; i<  @Model[0].Count+1; i++) 
                                      {
                                          <th>
                                              @i
                              
                                          </th>
                                      }
                                      
                                  </tr>
                              
                              
                                  @foreach (var att in @Model)
                                  {
                                      <tr>
                                          <td>
                                              @att[0].Client.NameSurname
                                          </td>
                                          <td>
                                              @att[0].ClientsMembership.DateOfPurchase.ToShortDateString() - @att[0].ClientsMembership.DateOfExpiry.ToShortDateString()
                                          </td>
                                          @foreach (var a in @att.OrderBy(p => p.Date))
                                          {
                                              
                                              <td style="background-color: @a.GetColor()">
                                                  @a.Date.ToShortDateString()<br/>
                                                  @GetEnumDescription.GetDescription(a.AttendanceState)
                                              </td>
                                          }
                              
                                      </tr>
                                  }
                              
                              </table>

